<h1>New Game</h1>
<button class="btn btn-primary mb-2 voyelle">
  Voyelle
</button>
<button class="btn btn-primary mb-2 consonne">
  Consonne
</button>

<table>
  <tbody>
    <tr class ='tableau'>

    </tr>
  </tbody>
</table>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <label for="proposition">What is the longest word you can find?</label>
    <input type="text" class="form-control" name= "proposition">
    <input type="submit" class="btn btn-primary" value="Play">
    <input id="letters" name="letters" type="hidden" value= "<%= @letters.join %>"/>
  </div>
</form>
